/* Header container */
.Header_CISD {    /* header 一直保持在页面顶部*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding: 14px 20px;
  z-index: 1000; /* 确保 header 在其他内容之上 */
  border-radius: 2%;
  border-bottom: 5px solid var(--main-color);
}
  


  /* LOGO DONE */
  .CISD_LOGO {
     /* Adjust the size as needed width: 600px;*/
    align-items: center;
  }

  .CISD_LOGO_word{
    margin-left: 20px;
    width: 100px;
  }

  .CISD_LOGO_img{
    margin-left: 40px; 
    width: 60px;
  }
  
  .CISD_name{
    margin-left: 10px; 
    width: 160px;
  }



  /* Navigation */
  .Navigation_item {
    list-style: none;
    display: flex;
    margin-left: auto; /* 设置为 auto，使其右对齐 */
    padding-right: 5%;

  }

  .Navigation_item ul {
    list-style: none;
    display: flex;
    gap: 80px ;
  }
  
  .Navigation_item li {
    font-size: 18px;
  }
  
  .Navigation_item a {
    text-decoration: none;
    color: var(--main-color);
    transition: color 0.3s ease;
    font-weight:600
  }
  
  .Navigation_item a:hover {
    text-decoration: underline;
    color: var(--main-color);
    cursor: pointer;
  }
  



  /* Actions */
  .actions {
    display: flex;
    gap: 5px;
    margin-left: 460px;
  }
  
  .dark-mode,
  .join-us {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 40px;
  }

  
  .dark-mode:hover,
  .join-us:hover {
    background-color: var(--main-color);
    color: white;
  }


