/* Footer.css */

/* Footer container */
.footer {
    height: 40vh;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #09184f; /* Background color for the footer */
    color: #fff; /* Text color */
    position: relative;
  }
  
  /* Footer links */
  .footer a {
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    color: #fff; /* Text color for links */
    margin-right: 1rem; /* Spacing between links */
  }
  
 
  
  /* Copyright text */
  .footer p {
    font-size: 0.875rem; /* Text size */
  }

  .email_container {
    width: 20%;
    margin-left: 15%; 

  }

  .logo_img {
    /* Adjust the size as needed width: 600px;*/
    align-items: center;
    height: 40%;
    cursor: pointer;
 }
  

 .copyright_container {
  position: absolute;
  bottom: 3%;
  right: 2%;
}



  