.event_outer_container {
  background-color: white;
  height: auto; /* Adjust height based on content */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0; /* Add vertical padding */
}

.event_inner_container {
  background-color: #09184f;
  display: flex;
  align-items: center;
  padding: 20px;
  max-width: 1200px; /* Set a max-width */
  width: 100%; /* Take full width */
  text-align: left;
  position: relative;
}

.event_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.event_image {
  max-width: 40%;
  width: 400px;
  margin-right: 100px; /* Adjust the margin to control the spacing between image and text */
}

.event_text {
  max-width: 60%; /* Adjust the max-width to control the width of the text content */
  padding: 20px;
  color: white;
}

.event_text h1 {
  font-size: 36px; /* Adjust the font size */
  margin-top: 0; /* Remove negative margin-top */
}

.event_text p {
  font-size: 16px;
  margin-top: 10px;
}

.event_text button {
  background-color: #ff9900;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Add margin-top for spacing */
}

.event_text button:hover {
  background-color: #FFFDD0;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 767px) {
  .event_content {
    flex-direction: column; /* Stack items vertically */
  }

  .event_image {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 20px; /* Add bottom margin for spacing */
    width: 80%; /* Adjust width for smaller screens */
    margin-left: 0; /* Remove left margin */
  }

  .event_text {
    max-width: 100%; /* Take full width */
    padding: 10px; /* Reduce padding */
    text-align: center; /* Center the text */
  }
}
