/* About.css */

.about_outer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  color: black;
  min-height: 95vh; /* Use min-height instead of height */
  padding-top: 15px;
  padding-bottom: 40px;
}


.about_header {
  padding-top: 30px;
  width: 100%;
  font-size: 36px;
  font-weight: bold;
  margin-top: 50px;
  z-index: 10;
  border-top: 24px solid var(--main-color);
  line-height: 3;
}

.about_paragraph {
  font-size: 24px;
  line-height: 2;
  margin-bottom: 40px;
}

.about_gallery {
  display: flex;
  gap: 60px;
  
}

.image-container {
  position: relative;
  transition: background-color 0.3s; /* Add transition for background-color */
  cursor: pointer; /* Change cursor to pointer on hover */
}








.image-container img {
  width: 220px;
  transition: filter 0.3s;
}


.about_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .about_text {
  opacity: 1;
}


/* Mobile View */
@media only screen and (max-width: 767px) {
  .about_gallery {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .about_header {
    font-size: 28px;
  }

  .about_paragraph {
    font-size: 18px;
  }

  .image-container img {
    width: 250px;
  }

  .about_text {
    font-size: 16px;
  }
}

/* Desktop View */
@media only screen and (min-width: 768px) {
  .about_gallery {
    flex-direction: row; /* This will layout the divs horizontally */
    gap: 60px;
  }
}